# Konfigurasi Editor (Pribadi)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File Sampah Sistem Operasi
.DS_Store
.DS_Store?
._*
Thumbtail.db
desktop.ini

# Log dan Temporary Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp/

# Folder Dependensi (Jika nanti pakai Node.js)
node_modules/
dist/
build/

# File Rahasia / API Keys (Sangat Penting!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local